.parallax_hospital {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../assets/hospital_1.jpg");
    min-height: 800px;
    position: relative;
  }
  .parallax_hospital::before {
    content: "";
    background: rgba(0, 0, 0, 0.5); /* Cor com opacidade (0.5) */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
  .parallax_hospital-content  {
    position: absolute;

  }

  .parallax_hospital h1 {
    color: #F1F1E6;
    font-size: 80px;
    margin-left: 20%;
  }
  .parallax_hospital h2 {
    color: #F1F1E6;
    font-size: 30px;
    margin-left: 20%;

  }
  .content_hospital {
    height: 100%;
    padding: 5%;
  
  }
  .card_hospital {
    width: 300px;
    height: 420px;
    box-shadow: 5px 5px 10px gainsboro;
    transition: box-shadow 0.3s;
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .card_hospital:hover {
    box-shadow: 5px 5px 20px rgba(128, 128, 128, 0.5);
  }
  .hospital_container {
    padding: 2%;
    width: 100%;
    height: 100%;
  }
  .button_hospital {
    width: 50%;
    height: 50px;
    background-color: #00235b;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    color: #f1f1e6;
    font-weight: bolder;
  }
  .button_hospital:hover {
    background-color: #f1f1e6;
    color: #00235b;
  }
  .card_img_container {
    flex: 1;
    overflow: hidden;
    padding: 20px;
  }
  .card_img_container img {
    width: 100%;
    height: 60%;
    border-radius: 5px;
  }
  .card_img_container p {
    width: 250px;
    height: 20%;
    word-wrap: break-word;
    color: #00235b;
    font-weight: bolder;
    flex: 1;
  }
  .card_img_container button {
    width: 100%;
    height: 30px;
    border: none;
    background-color: #00235b;
    color: #f1f1e6;
    cursor: pointer;
  }
  .column_hospital {
    flex: 1;
    margin-top: 15px;
  }
  .row_hospital {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
  }