.column{
    flex: 1;
    margin: 10px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./assets/home1.jpg");
    min-height: 800px;
    position: relative;
  }
  
  .parallax-content  {
    position: absolute;
    top: 30%;
    left: 18%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    text-align: left; 
  }
  .parallax-content h1 {
    color: aliceblue;
    font-size: 80px;
    margin-left: 5%;
  }
  .parallax-content h2 {
    color: aliceblue;
    font-size: 30px;
    margin-left: 10%;
  }
  .content {
    height: 800px;
    padding: 5%;

  }
  .content h5{
    font-size: 20px;
  }
  .parallax2 {
   background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./assets/home2.jpg");
    min-height: 600px;
    position: relative;
  }
  .parallax-content2  {
    position: absolute;
    top: 40%;
    left: 80%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    text-align: right; 
   }
  .parallax-content2 h1 {
    text-align: right;
    color: aliceblue;
    font-size: 80px;
    margin-left: 5%;
  }
  .parallax-content2 h2 {
    color: aliceblue;
    font-size: 30px;
    margin-left: 10%;
  }
  .parallax3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./assets/home3.jpg");
    min-height: 600px;
    position: relative;
  }
  .parallax4 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./assets/home4.jpg");
    min-height: 600px;
    position: relative;
  }