
.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/home1.jpg");
  min-height: 800px;
  position: relative;
}

.parallax-content  {
  position: absolute;
  top: 30%;
  left: 18%;
  transform: translate(-50%, -50%);
  text-align: left; 
}
.parallax-content h1 {
  color: #F1F1E6;
  font-size: 80px;
}
.parallax-content h2 {
  color: #F1F1E6;
  font-size: 30px;
}
.content {
  height: 800px;
  padding: 5%;

}
.content h1{
  font-size: 50px;
  color: #00235B;
}
.content h2{
  font-size: 20px;
  color: #00235B;
  padding: 30px 0px 50px 0px;
}
.saibamais{
  width: 100px;
  height: 50px;
  background-color: #00235B;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  color: #F1F1E6;
  font-weight: bolder;

}
.parallax2 {
 background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/home2.jpg");
  min-height: 800px;
  position: relative;
}
.parallax-content2  {
  position: absolute;
  top: 40%;
  left: 80%;
  transform: translate(-50%, -50%);
  text-align: right; 
 }
.parallax-content2 h1 {
  text-align: right;
  color: #F1F1E6;
  font-size: 80px;
  margin-left: 5%;
}
.parallax-content2 h2 {
  color: #F1F1E6;
  font-size: 30px;
  margin-left: 10%;
}
.parallax3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/home3.jpg");
  min-height: 800px;
  position: relative;
}
.parallax4 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/home4.jpg");
  min-height: 800px;
  position: relative;
}