
.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/home1.jpg");
  min-height: 800px;
  position: relative;
}

.parallax-content  {
  position: absolute;
  text-align: left;
  margin-top: 5%;
  margin-left: 1%;
 
  
}
.parallax-content h1 {
  color: #F1F1E6;
  font-size: 80px;
}
.parallax-content h2 {
  color: #F1F1E6;
  font-size: 30px;
}
.content {
  height: 100%;
  padding: 5%;

}
.content h1{
  font-size: 35px;
  color: #00235B;
}
.content h2{
  font-size: 20px;
  color: #00235B;
  padding: 30px 0px 50px 0px;
}

.saibamais{
  width: 100px;
  height: 50px;
  background-color: #00235B;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  color: #F1F1E6;
  font-weight: bolder;

}
.saibamais:hover{
  background-color: #F1F1E6;
  color: #00235B;
}
.parallax2 {
 background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/home2.jpg");
  min-height: 800px;
  position: relative;
}
.parallax-content2  {
  position: absolute;
  top: 40%;
  left: 80%;
  transform: translate(-50%, -50%);
  text-align: right; 
 }
.parallax-content2 h1 {
  text-align: right;
  color: #F1F1E6;
  font-size: 80px;
  margin-left: 5%;
}
.parallax-content2 h2 {
  color: #F1F1E6;
  font-size: 30px;
  margin-left: 10%;
}
.parallax3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/home3.jpg");
  min-height: 800px;
  position: relative;
}
.parallax4 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/home4.jpg");
  min-height: 800px;
  position: relative;
}
.container_img{
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parallax::before {
  content: "";
  background: rgba(0, 0, 0, 0.5); /* Cor com opacidade (0.5) */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.parallax2::before {
  content: "";
  background: rgba(0, 0, 0, 0.5); /* Cor com opacidade (0.5) */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.parallax3::before {
  content: "";
  background: rgba(0, 0, 0, 0.5); /* Cor com opacidade (0.5) */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.parallax4::before {
  content: "";
  background: rgba(0, 0, 0, 0.5); /* Cor com opacidade (0.5) */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  .content {
    height: auto; 
    padding: 10px; 
  }

  .column {
    width: 100%; 
    margin: 0; 
  }

  .parallax-content h1 {
    font-size: 40px;
  }

  .parallax-content h2 {
    font-size: 18px;
  }

  .saibamais {
    width: 100%;
  }
}
